{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mypage_body">
    <div class="left_side">
        <p>
            <div style="text-align: center; padding: 10px 0;">
                <img style="width: 30%;" src="../../../static/images/user.png" alt="">
            </div>
            <div style="padding: 30px; border: 2px inset black; width:100%; text-align:center;">

                <h6>사용자: {{user.profile.name}}</h6>
                <h6>번호: {{user.profile.phnum}}</h6>
                <h6>자취방: {{user.profile.address}}</h6>
                <input type="button" class="btn btn-default" style="color: brown;"
                    onclick="changeIframeUrl('{%url 'users:edit'%}')" value="내 정보 수정하기"> <br>
                <input type="button" class="btn btn-default" style="color: brown;"
                    onclick="changeIframeUrl('{%url 'users:mypage'%}')" value="내가 올린글">
                <br> 내가 올린글 경로 수정해야함
            </div>
        </p>
    </div>
    <div class="right_side">
            
            <iframe id="main_frame" name="main_frame" src="{%url 'users:edit' %}"
                style="width:100%; height:600px;"></iframe>
    
    </div>
</div>
<script>
    function changeIframeUrl(url)

    {

        document.getElementById("main_frame").src = url;

    }
</script>


{% endblock %}